.question-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    padding: 10px;
    margin-top: 2vw;
}

.question-timer {
    text-align: center;
    padding: 5px 25px;
    background-color: var(--bw-black);
    color: var(--bw-blue);
    font-weight: 800;
}

.timebar {
    width: clamp(265px, 25vw, 500px);
    height: 10px;
    background-color: var(--bw-button-color);
    border-radius: 10px;
}

.last-timebar {
    width: clamp(265px, 25vw, 500px);
    height: 10px;
    background-color: var(--bw-blue);
    border-radius: 10px;
}

.elapsed-time {
    position: relative;
    width: clamp(45px, 8vw, 65px);
    height: 10px;
    background-color: var(--bw-orange);
    border-radius: 10px;
    padding-inline: 2px;
    box-sizing: content-box;
}

.question-counter {
    color: var(--bw-blue);
}

.survey-question {
    font-weight: 700;
}

.answer-options-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.answer-option {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bw-black);
    background-color: var(--bw-white);
    padding: clamp(35px, 3vw, 50px) clamp(5px, 1vw, 15px);
    width: clamp(110px, 10vw, 140px);
    font-size: clamp(15px, 2vw, 19px);
    transition: .3s;
}

    .answer-option:hover {
        border: 1px solid var(--bw-orange);
        cursor: pointer;
    }

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#next-btn {
    background-color: var(--bw-orange);
    color: var(--bw-black);
    padding: 10px 15px;
    border: none;
    margin-left: 2.5px;
    font-weight: 700;
    font-family: inherit;
}

    #next-btn:hover {
        cursor: pointer;
        background-color: var(--bw-black);
        color: var(--bw-yellow);
    }

#prev-btn {
    background-color: var(--bw-orange);
    color: var(--bw-black);
    padding: 10px 15px;
    border: none;
    margin-right: 2.5px;
    font-weight: 700;
    font-family: inherit;
}

    #prev-btn:hover {
        cursor: pointer;
        background-color: var(--bw-black);
        color: var(--bw-yellow);
    }

#home-btn {
    background-color: var(--bw-orange);
    color: var(--bw-black);
    padding: 10px 15px;
    border: none;
    margin-right: 2.5px;
    font-weight: 700;
    font-family: inherit;
}

    #home-btn:hover {
        cursor: pointer;
        background-color: var(--bw-black);
        color: var(--bw-yellow);
    }

#home-redirect {
    color: inherit;
    text-decoration: none;
}

    #home-redirect:hover {
        color: var(--bw-yellow);
        text-decoration: none;
    }

@media screen and (min-width: 420px) {
    .footer {
        margin-top: 2vw;
    }
}


/*---------------------------------MODAL STYLING---------------------------------*/

.performance-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}


.performance-modal-content {
    background: white;
    padding: 20px 35px;
    text-align: left;
    width: clamp(270px, 35vw, 665px);
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-block: 16.5vh;
    margin-inline: auto;
    gap: 20px;
}

.modal-title {
    text-align: center;
    color: var(--bw-orange);
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background: var(--bw-black);
    height: 25px;
    width: 25px;
    border-radius: 50px;
    color: var(--bw-nav-white);
}


body.no-scroll {
    overflow: hidden;
}

.modal-list-wrapper {
    list-style-type: decimal;
    padding-inline-start: 35px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
.performance-modal-icon{
    width:clamp(50px, 5vw, 90px);
}
.performance-factors{
    list-style:none;
    letter-spacing:1px;
}

.modal-btn {
    background-color: var(--bw-orange);
    color: var(--bw-black);
    padding: 10px 15px;
    border: none;
    margin-right: 2.5px;
    font-weight: 700;
    font-family: inherit;
}

    .modal-btn:hover {
        cursor: pointer;
        background-color: var(--bw-black);
        color: var(--bw-yellow);
    }

ul.performance-factors li{
    margin-bottom: 5px;
}


/*======================================================================*/
/*=========================NON VERBAL IQ STYLES=========================*/
/*======================================================================*/

.non-verbal-question-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    font-weight:700;
}

.nonverbal-answers-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 290px;
    gap: 15px;
    justify-content: center;
}

.nonVerbal-answer-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    gap: 5px;
}

    .nonVerbal-answer-option:hover {
        border: 2px solid var(--bw-orange);
    }



/*======================================================================*/
/*============================MATH IQ STYLES============================*/
/*======================================================================*/

.math-quesion-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
}

.math-test-question {
    width: clamp(160px, 10vw, 200px);
}

.math-answer-options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.math-answer-option {
    border: 1px solid var(--bw-black);
    text-align: center;
    padding: 15px;
    background-color: var(--bw-white);
    font-size: clamp(14px, 3.5vw, 18px);
}

.selected {
    border: 1px solid var(--bw-orange);
    background-color: var(--bw-orange);
    color: var(--bw-white);
}

.input-answer-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

input#answer {
    padding: clamp(5px, 1vw, 10px) clamp(2px, .5vw, 5px);
    background-color: var(--bw-white);
    border: .5px solid var(--bw-black);
    width: clamp(150px, 10vw, 200px);
    font-size: clamp(14px, 2vw, 20px);
    border-radius: unset;
}

    input#answer:hover {
        border: .5px solid var(--bw-orange);
        font-size: clamp(14px, 2vw, 20px);
        border-radius: 1px;
    }
.input-answer-option h3 {
    font-size: clamp(14px, 2vw, 20px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#results-btn {
    background-color: var(--bw-blue);
    color: var(--bw-black);
    padding: clamp(5px, 1vw, 15px) clamp(10px, 1.2vw, 15px);
    border: none;
    margin-right: 2.5px;
    font-weight: 700;
    font-family: inherit;
    font-size: clamp(10px, .8vw, 20px)
}

    #results-btn:hover {
        cursor: pointer;
        background-color: var(--bw-black);
        color: var(--bw-yellow);
    }